/* NAV SECTION */
nav {
  width: 100%;
  background-color: var(--bg-color);
  padding: 5px 20px;
}
nav a {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  align-items: center;
  width: fit-content;
}
nav img {
  height: 30px;
  padding-right: 10px;
  transition: transform 1s;
}

nav:hover img {
  transform: translateX(-10px);
}

/*====================================================*/
/* MAIN SECTION */
main {
  position: relative;
  margin: auto;
  max-width: 1000px;
}
section {
  padding-bottom: 4vh;
}

.rounded {
  border-radius: 20px;
}

/* round corner of iframe */
#yt-container {
  width: 100%;
  overflow: hidden;
}
iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

h3 {
  font-size: 2rem;
}

/* COVER img */
#cover {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#cover-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

#project-img {
  transform: rotate(2deg);
  max-width: 70%;
}

/* Student info */
#pfp-section {
  display: flex;
  align-items: center;
}
#pfp {
  border-radius: 50%;
  width: 30vw;
  max-width: 400px;
  padding: 0vw 3vw;
}
#full-name {
  font-size: 2rem;
}

#bio-box {
  margin: 3vw;
  padding: 2vw;
  border: 3px solid;
}
/*====================================================*/
/* My works */
#my-works,
.scroll-container {
  text-align: center;
}
