/* NAV SECTION */
nav {
  width: 100%;
  padding: 5px 20px;
}
nav a {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  align-items: center;
  width: fit-content;
}
nav img {
  height: 30px;
  padding-right: 10px;
  transition: transform 1s;
}

nav:hover img {
  transform: translateX(-10px);
}

/*====================================================*/
/* MAIN SECTION */
main {
  position: relative;
  margin: auto;
  max-width: 1000px;
}
section {
  padding-bottom: 5vh;
}
.rounded {
  border-radius: 20px;
}

/* round corner of iframe */
#yt-container {
  width: 100%;
  overflow: hidden;
}
iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
/* COVER img */
#cover {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  aspect-ratio: 2/1;
}
#cover-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin-left: 10px;
}
#project-img {
  transform-origin: top left;
  transform: rotate(2deg);
  max-width: 90%;
  height: auto;
}
#project-info {
  margin: 10px;
}

/* Student info */
#pfp-section {
  display: flex;
  align-items: center;
}
#pfp {
  border-radius: 50%;
  width: 20vw;
  max-width: 400px;
  padding: 0vw 3vw;
}
#bio-box {
  margin: 3vw;
  padding: 2vw;
  border: 3px solid var(--accent-light-color);
  background-color: var(--bg-color);
}

h3 {
  font-size: 2rem;
}
/*====================================================*/
/* My works */
#works-container {
  display: grid;
}
#works-head {
  text-align: center;
  padding-bottom: 2vh;
}
/* PC */
@media only screen and (min-width: 768px) {
  #flex-body-pc {
    display: flex;
    gap: 2vw;
  }
  #works-container {
    max-width: 400px;
    width: 20vw;
    gap: 6vh;
  }
  aside {
    margin-right: 2vw;
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  #works-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
  }

  #pfp {
    width: 30vw;
  }
}
