:root {
  --light-blue: rgb(116, 115, 204);
}
/* NAV SECTION */
nav {
  width: 100%;
  padding: 5px 20px;
}
nav a {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  align-items: center;
  width: fit-content;
  gap: 2vw;
}
.frog {
  width: 60px;
  height: 60px;
  background-image: url(frog_awake.webp);
  background-size: auto 200%;
  background-position: top;
  animation: animateframe steps(2, jump-none) 1s infinite;
}
.frog:active {
  scale: 105% 90%;
}
@keyframes animateframe {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}
/*====================================================*/
/* MAIN SECTION */
main {
  position: relative;
  margin: auto;
  max-width: 1000px;
}
section {
  padding-bottom: 5vh;
}
.rounded {
  border-radius: 20px;
}

/* round corner of iframe */
#yt-container {
  width: 100%;
  overflow: hidden;
}
iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
/* COVER img */
#cover {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  aspect-ratio: 2/1;
}
#cover-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
  margin-left: 10px;
}
#project-img {
  transform-origin: top left;
  transform: rotate(2deg);
  max-width: 90%;
  height: auto;
}

/* Project info */
#project-info {
  margin: 10px;
}
.na {
  color: var(--light-blue);
}
#read-more-toggle {
  font-weight: 600;
  color: var(--light-blue);
  cursor: pointer;
  padding-top: 5px;
  display: inline;
  transition: color 0.2s;
}
#read-more-toggle:hover {
  color: var(--text-color);
}
#more {
  display: none;
}

/* Student info */
#pfp-section {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
#pfp {
  border-radius: 50%;
  width: 20vw;
  max-width: 400px;
  padding: 0vw 3vw;
}
.skill {
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 6px;
  display: inline;
}
#primary {
  border: 2px solid var(--accent-light-color);
}
#secondary {
  padding-top: 18px;
}
#secondary .skill {
  border: 2px solid var(--accent-color);
  color: var(--light-blue);
}
#bio-box,
.para-box {
  margin: 3vw;
  padding: 2vw;
  border: 3px solid var(--accent-light-color);
  background-color: var(--bg-color);
}
#bio {
  margin-bottom: 10px;
}
#website {
  font-size: 1.2rem;
}

h3 {
  font-size: 2rem;
  padding-bottom: 10px;
}
a {
  color: var(--text-color);
  transition: color 0.2s;
}
a:hover {
  color: var(--light-blue);
}

/*====================================================*/
/* My works */
aside {
  position: relative;
}
@keyframes bobbing {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
#works-container {
  padding-top: 4vh;
  display: grid;
  margin: 5px;
  animation: bobbing 3s infinite alternate ease-in-out;
}
#works-head {
  display: inline;
}
.flower {
  order: 2;
}
/* PC */
@media only screen and (min-width: 768px) {
  #flex-body-pc {
    display: flex;
    gap: 2vw;
  }
  #works-container {
    max-width: 400px;
    width: 20vw;
    gap: 6vh;
  }
  aside {
    margin-right: 2vw;
  }
  #cover-text {
    font-size: 2rem;
  }
  #flower2 {
    position: absolute;
    top: 0;
    right: 1vh;
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  #works-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
  }
  #works-head {
    padding-left: 3vw;
  }
  #pfp {
    width: 30vw;
  }
  #bio-box {
    padding: 4vw;
  }
  #cover-text {
    font-size: 1rem;
  }
  #flower2 {
    margin: auto;
  }
}
