/* 
*   RESET.CSS
*   Kevin Powell
*   https://youtu.be/cCAtD_BAHNw 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  /*color-scheme: dark light; /* Default dark */
  hanging-punctuation: first last; /* Not supported in Chrome */
}

body {
  min-height: 100vh;
}

/* Media responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty; /* Prevents orphans on lines */
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}
/*------------------------------------------------------------------------*/
/* remove blue highlight on mobile */
* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bg-color: #050515;
  --text-color: rgb(255, 252, 188);
}

/* body contain document size, and font-fallback edge cases */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Comfortaa", sans-serif;
}

h1 {
  font-family: "Moirai One", system-ui;
  font-weight: 800;
  font-style: normal;
  font-size: 4rem;
  padding: 3vh 0vh;
}
h2 {
  font-family: "Livvic", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
}
h3 {
  font-family: "Moirai One", system-ui;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
}

p {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
