/* 
*   RESET.CSS
*   Kevin Powell
*   https://youtu.be/cCAtD_BAHNw 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  color-scheme: dark light; /* Default dark */
  hanging-punctuation: first last; /* Not supported in Chrome */
}

body {
  min-height: 100vh;
}

/* Media responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty; /* Prevents orphans on lines */
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}
/*======================================================*/
/* remove blue highlight on mobile */
* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bg-color: #050515;
  --text-color: rgb(216, 230, 255);
}

/* body contain document size, and font-fallback edge cases */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Comfortaa", sans-serif;
}

h1 {
  font-family: "Moirai One", system-ui;
  font-weight: 800;
  font-style: normal;
  font-size: 4rem;
}
h2 {
  font-family: "Livvic", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
}
h3 {
  font-family: "Moirai One", system-ui;
  font-weight: 800;
  font-style: normal;
  font-size: 3rem;
}

p {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
}

/*======================================================*/
/* SCROLL MAIN */
.scroll-container {
  scrollbar-width: none;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  background-image: url(scrolldiv1.webp);
  background-repeat: repeat-x;
  background-size: auto 200%;
  animation: animateframe steps(2, jump-none) 1s infinite;
}

.item {
  display: inline-block;
  padding: 1vh 3vh;
  max-width: 400px;
  cursor: pointer;
}

.name-plate {
  background-color: var(--bg-color);
  max-width: 250px;
  height: 3rem;
  overflow: hidden;
  padding: 4px;
  border-radius: 10px;
  margin: auto;
  margin-top: 8px;
}
.name-plate p {
  text-align: center;
}

.project-img {
  max-height: 40vh;
  aspect-ratio: 1;
  border-radius: 50%;

  transition: scale 0.5s;
}
.project-img:hover {
  border: 4px solid;
  scale: 95%;
}

@keyframes animateframe {
  0% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: 100%;
  }
}

/*====================================================*/
/* DECOR */
#fixed-bg {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(BGsdark.webp);
  z-index: -2;
}

.flower {
  position: absolute;
  width: 250px;
  height: 252px;
  cursor: pointer;
}
.flower div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.layer1 {
  z-index: 1;
  background-image: url(flowerL1.webp);
  transition: scale 2s;
  animation: rotate 5s infinite alternate forwards ease-in-out;
}
.layer2 {
  z-index: 2;
  background-image: url(flowerL2.webp);
  transition: scale 1s;
  animation: rotate 5s infinite alternate forwards;
}
.layer3 {
  z-index: 3;
  background-image: url(flowerL3.webp);
  transition: scale 0.5s;
}
@keyframes rotate {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.flower:hover div {
  scale: 90%;
}
