/* 
*   RESET.CSS
*   Kevin Powell
*   https://youtu.be/cCAtD_BAHNw 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* remove styling */
  -webkit-tap-highlight-color: transparent;
}

html {
  color-scheme: dark light; /* Default dark */
  hanging-punctuation: first last; /* Not supported in Chrome */
}

body {
  min-height: 100vh;
}

/* Media responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty; /* Prevents orphans on lines */
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}
/*======================================================*/

:root {
  --bg-color: #050515;
  --accent-color: #171d41;
  --accent-light-color: #505c83;
  --text-color: rgb(216, 230, 255);
}

/* body contain document size, and font-fallback edge cases */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Special Elite", sans-serif;
}
h1 {
  font-family: "Special Elite", system-ui;
  font-weight: 100;
  font-style: normal;
  font-size: 4rem;
}
h2 {
  font-family: "Winky Rough", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: var(--accent-light-color);
}
p,
a {
  font-family: "Special Elite", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}
/* Mobile size */
@media only screen and (max-width: 787px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  p,
  a {
    font-size: 0.8rem;
  }
}

/*======================================================*/
/* ITEM */
.item {
  cursor: pointer;
  z-index: 1;
}
.img-container {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  transition: scale 0.8s, opacity 0.8s, filter 0.8s;
}
.img-container:hover {
  scale: 95%;
  opacity: 70%;
  filter: blur(2px);
}
.project-img {
  height: 100%;
  object-fit: cover;
}
.name-plate {
  margin-top: 12px;
}
.name-plate p {
  text-align: center;
}
/*====================================================*/
/* DECOR */
#fixed-bg {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(BGsdark.webp);
  z-index: -2;
}

.flower {
  position: relative;
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1;
  cursor: pointer;
}
.flower div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.layer1 {
  z-index: 1;
  background-image: url(flowerL1.webp);
  transition: scale 1.2s;
  animation: rotate 5s infinite alternate forwards ease-in-out;
}
.layer2 {
  z-index: 2;
  background-image: url(flowerL2.webp);
  transition: scale 0.6s;
  animation: rotate 5s infinite alternate forwards;
}
.layer3 {
  z-index: 3;
  background-image: url(flowerL3.webp);
  transition: scale 0.3s;
}
@keyframes rotate {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.flower:hover div {
  scale: 90%;
}
.flower:active div {
  scale: 50%;
}
