/* ==========================================================*/
/* HEADER STYLE */

/*==========================================================*/
/*Footer style*/
footer {
  margin-top: 40px;
}
#footer-content {
  height: fit-content;
  background-color: var(--bg-color);
  padding: 50px;
}
#footer-decor {
  height: 300px;
  width: 100%;
  background-image: url(footerdiv.webp);
  background-position: top;
}
/*==========================================================*/
/*MAIN container for each type*/
main {
  position: relative;
  overflow-x: hidden;
}

.project-head {
  padding: 10px 3vw;
}

.container {
  padding-top: 2rem;
}

/* Add variety to BG position as it loops */
#uxui-scroll {
  background-image: url(scrolldiv2.webp);
}
#sound-scroll {
  background-position-x: 500px;
}
#video-scroll {
  background-image: url(scrolldiv2.webp);
  background-position-x: 600px;
}
#graphics-scroll {
  background-position-x: 100px;
}

/*==========================================================*/
/* DECORATIONS */
#fish {
  position: fixed;
  z-index: -1;
  top: -400px;
  left: 30vw;
  height: 400px;
  width: 400px;
  background-image: url(fishAnim.webp);
  background-size: auto 600%;
  background-repeat: no-repeat;
  transform-origin: -3000px 0px;
}
.fishAnim {
  animation: animateframe steps(6, jump-none) 625ms 16, curvepath 12s ease-in;
}
@keyframes curvepath {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

#flower1 {
  top: 400px;
  left: 30vw;
}
#flower2 {
  top: 800px;
  left: 70vw;
}
#flower3 {
  top: 1880px;
  left: 2vw;
}

/*==========================================================*/
/* item bobbing anim */
.item {
  animation: bobbing 2s infinite alternate ease-in-out;
  animation-delay: 0s;
}
@keyframes bobbing {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
