/*fixed static BG art that doesnt scroll*/
#fixed-bg {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(BGsdark.webp);
  z-index: -2;
}

.fish-Anim {
  position: fixed;
  top: 0;
  left: 30vw;
  background-image: url();
  /* foundation of fish anim class */
}

/* ==========================================================*/
/* HEADER STYLE */
#header-text,
.project-head {
  padding: 1vh 3vh;
}

header {
  height: 80vh;
  overflow: hidden;
  background-color: black;
  position: relative;
  /* set relative for child to set absolute */
}

#header-text {
  position: absolute;
  top: 0;
  z-index: 3;
}
#overlay {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.562);
  height: 100%;
  width: 100%;
}

#header-preview {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: url(./s4021256/projects/project1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  animation: preview 20s infinite;
}
@keyframes preview {
  0%,
  20% {
    background-image: url(./s4021256/projects/project1.webp);
  }
  33%,
  53% {
    background-image: url(./s4021256/projects/project2.webp);
  }
  66%,
  86% {
    background-image: url(./s4021256/projects/project3.webp);
  }
  100% {
    background-image: url(./s4021256/projects/project1.webp);
  }
}

#intro {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 12%;
  width: 100%;
  z-index: 4;
  background-color: var(--bg-color);
}
#intro-text {
  text-align: center;
  padding-top: 10px;
}
#intro-icon {
  position: absolute;
  top: 40px;
  left: 50vw;
  transition: transform 2s;
}
#intro:hover #intro-icon {
  transform: translateY(10px);
}

/*==========================================================*/
/*Footer style*/
footer {
  height: fit-content;
  background-color: var(--bg-color);
  margin-top: 40px;
  padding: 50px;
}

/*==========================================================*/
/*MAIN container for each type*/

#three-d-container {
  color: var(--three-d-color);
}
#uxui-container {
  color: var(--uxui-color);
}
#sound-container {
  color: var(--sound-color);
}
#video-container {
  color: var(--video-color);
}
#graphics-container {
  color: var(--graphics-color);
}

.container {
  padding-top: 2rem;
}

.scroll-container {
  scrollbar-width: none;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  background-image: url(scrolldiv1.webp);
  background-repeat: repeat-x;
  background-size: auto 200%;
  animation: animateframe steps(2, jump-none) 1s infinite;
}

#three-d-scroll {
  background-position-x: 0px;
}
#uxui-scroll {
  background-image: url(scrolldiv2.webp);
}
#sound-scroll {
  background-position-x: 500px;
}
#video-scroll {
  background-image: url(scrolldiv2.webp);
  background-position-x: 600px;
}
#graphics-scroll {
  background-position-x: 100px;
}

@keyframes animateframe {
  0% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: 100%;
  }
}

/*==========================================================*/
.item {
  display: inline-block;
  padding: 1vh 3vh;
  max-width: 400px;
  cursor: pointer;
}

.name-plate {
  background-color: var(--bg-color);
  max-width: 250px;
  height: 3rem;
  overflow: hidden;
  padding: 4px;
  border-radius: 10px;
  margin: auto;
  margin-top: 8px;
}
.name-plate p {
  text-align: center;
}

.project-img {
  max-height: 40vh;
  border-radius: 50%;
  border: 4px solid;
  transition: scale 0.5s;
}
.project-img:hover {
  scale: 95%;
}
