/* ==========================================================*/
/* HEADER STYLE */

/*==========================================================*/
/*Footer style*/
footer {
  margin-top: 40px;
}
#footer-content {
  height: fit-content;
  background-color: var(--bg-color);
  padding: 50px;
}
#footer-decor {
  height: 300px;
  width: 100%;
  background-image: url(footerdiv.webp);
  background-position: top;
}
/*==========================================================*/
/* DECORATIONS */
#fish {
  position: fixed;
  z-index: -1;
  top: -400px;
  left: 30vw;
  height: 400px;
  width: 400px;
  background-image: url(fishAnim.webp);
  background-size: auto 600%;
  background-repeat: no-repeat;
  transform-origin: -3000px 0px;
}
.fishAnim {
  animation: animateframe steps(6, jump-none) 625ms 16, curvepath 12s ease-in;
}
@keyframes curvepath {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
/*==========================================================*/
/* MAIN */
#grid-container {
  margin: 0vw 8vw;
  min-width: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(13, 1fr);
  aspect-ratio: 4/10;

  gap: 30px;
  /* background-color: red; */
}
.box {
  grid-row: span 2;
  /* background-color: blue; */
  position: relative;
  overflow: hidden;
}

/* ITEM */
.item {
  position: absolute;
  top: 10%;
  cursor: pointer;
}
.img-container {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}
.project-img {
  height: 100%;
  object-fit: cover;
}

/*==========================================================*/
/* GRID ITEM ORDER */
.box-head {
  background-color: blue;
}
#head-3d {
  order: 1;
}
.box-3d {
  order: 2;
}
#head-uxui {
  order: 3;
}
.box-uxui {
  order: 4;
}
#head-sound {
  order: 5;
}
.box-sound {
  order: 6;
}
#head-video {
  order: 7;
}
.box-video {
  order: 8;
}
#head-graphics {
  order: 9;
}
.box-graphics {
  order: 10;
}

#space1 {
  order: 3;
}
#space2 {
  order: 6;
}
#space3 {
  order: 10;
}
