/*body section*/
html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: rgb(247, 246, 222);
  --p-font-color: black;
  --accent-color: rgb(215, 198, 102);
  --bold-color: rgb(146, 102, 0);
  --special-color: rgb(0, 61, 71);
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--p-font-color);
}

#head-text,
main {
  margin: auto;
  max-width: 960px;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
  justify-self: center;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 100% !important;
  height: auto;
}

h1 {
  font-weight: 900;
  font-style: normal;
  font-size: 3rem;
  color: var(--p-font-color);
  padding-bottom: 15px;
}
h2 {
  font-weight: 800;
  font-style: normal;
  font-size: 2rem;
  color: var(--bold-color);
  padding-bottom: 10px;
}
h3 {
  font-weight: 600;
  font-style: italic;
  font-size: 1.4rem;
  padding-bottom: 10px;
}
h4 {
  font-weight: 500;
  font-style: italic;
  font-size: 1.2rem;
}
p {
  font-size: 1rem;
}
i {
  font-style: italic;
  color: var(--special-color);
}

.big-text {
  font-weight: 600;
  font-size: 1.5rem;
}
.small-text {
  font-weight: 400;
  font-style: italic;
  font-size: 0.9rem;
}
.subtitle {
  font-weight: 500;
  font-size: 1rem;
  color: var(--bold-color);
}
.side-text {
  font-weight: 500;
  font-size: 1.1rem;
}

/* ===================================================================
NAV section */
nav {
  position: fixed;
  display: flex;
  top: 5px;
  right: -200px;
  z-index: 99;
  transition: translate 0.5s ease-in-out;
}

#side-drawer {
  width: 160px;
  background-color: rgba(247, 246, 222, 0.944);
  padding: 8px;
}
#side-drawer li {
  padding-bottom: 15px;
  list-style-position: inside;
}
#side-drawer a {
  font-weight: 500;
  color: var(--p-font-color);
  text-decoration: none;
}
#side-drawer a:hover {
  color: var(--bold-color);
}

#gradient {
  width: 40px;
  background-image: linear-gradient(
    to left,
    rgba(247, 246, 222, 0.944),
    rgba(0, 0, 0, 0)
  );
}

#menu-icon {
  all: unset;
  width: 40px;
  height: auto;
  opacity: 40%;
}
#menu-icon:hover,
#menu-icon:active {
  opacity: 100%;
}

ul > li:hover {
  color: red;
}

/* ===================================================================
Main section */
.line,
.big-line {
  height: 2px;
  background-color: var(--accent-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.big-line {
  height: 4px;
}

.audio {
  padding-top: 16px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

audio {
  padding-right: 10px;
}

.transcript {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer {
  display: flex;
  background-color: var(--accent-color);
  justify-content: space-between;
  padding: 20px 10px 5px 10px;
}
#left-footer {
  text-align: left;
}
#right-footer {
  text-align: right;
}
