/* ===================================================
  DESIGN THEORY
  For design, I wanted to take a more form over function
  approach, similar to the website by Rich Brown. Though, 
  with a lot more emphasis on readability. 

  I am using irregular grid structure, taken inspiration from 
  the De Stijil movement. Most notable of which is "Piet Mongrid" 
  by Piet Mondrian, the red yellow blue stacked blocks. 
  Grid is the foundation of webdesign in the modern age, 
  and still have been the foundation of design in history.

  All artworks were drawn by me in Krita, following 
  an Art Deco style with bolder shapes and lines; maximalist 
  contrast over minimalist of the website.
  ========================================================*/

body {
  background-color: wheat; /*color pallete later*/
  display: flex;
  margin: auto;
  max-width: 1200px;
  justify-content: center;

  /*font family placeholder*/
}

.container {
  /*This allow frontPage grid and mainPage grid to not stack
    next to each other, and go block by block*/
  display: grid;
}

/*========================================================
Front Page
The 6:4 ratio is what the grid is based on. Orginally I 
wanted 1620x1080px to fit laptop screen, but after some 
testing, it was too big with the additions of side bars on screen.
==========================================================*/
.frontPage {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 1110px;
  height: 740px;
  background-color: aqua; /*temp bg*/
  background-image: url(frontPage.png);
  /*Fixed width and height to make sure background image is
    sized correctly*/
}
#title {
  color: null;
  font-size: 3rem;
  text-align: left;
  text-transform: uppercase;
  grid-column: 2/10;
  grid-row: 2/4;
  /*This meant title takes up a rectangle column 2-9, row 2-3*/
  /*bigger font takes more rows, longer text takes more columns*/
}
#oart {
  writing-mode: vertical-lr;
  text-orientation: upright;
  /*Transform text to vertical, but keeping its orientation*/

  font-size: 3rem;
  grid-column: 12;
  grid-row: 2/8;
}
#name {
  /*type font */
  font-size: 1.6rem;
  align-content: center;
  grid-column: 2/6;
  grid-row: 6;
}
#richbrown {
  /*type font */
  font-size: 3rem;
  grid-column: 2/6;
  grid-row: 7;
}

/*========================================================
Main Page

==========================================================*/

.mainPage {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 1110px;
  min-height: 740px;
}
