/* ====================================================================
DESIGN THEORY
Early internet maximalist content and minimalist composition
Main body content
Text box interactive
BG muisc
=======================================================================
TYPOGRAPHY
=======================================================================
COLOR PALLETE
Define all colors in root. accent is on hover color
======================================================================*/

:root {
  --bg-color: black;
  --text-color: white;
  --window-text-color: n;
  --accent-color: gold;
}

body {
  max-width: 1200px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  display: flex;
}

#title-container {
  width: 300px;
  padding: 20px; /* padding is inside, margin outside*/
}

#soundboard-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(17, 1fr);
  width: 600px;
  height: 2040px;

  gap: 3px;
  background-color: var(--text-color);
}

.box-maingrid {
  background-color: var(--bg-color);
  padding: 10px;
  align-content: baseline;
  position: relative;
}

.box-maingrid:hover {
  background-color: var(--accent-color);
}

#img1 {
  position: absolute;
}

/* ------------------------------------------------------------------- */
#textbox-container {
  width: 400px;
  height: 300px;
  background-color: gray;
  position: fixed;
  right: 0;
  top: 0;
}
