/*=====================================================================
DESIGN THEORY
This is a webpage for a music album, which I wanted to capture the 
feeling of an indie band, with more eccentric designs.
Specifically, the webpage layout is based on vinyl album covers.

To do this I split the webpage into 2 sections: a cover space with 
light, colorful maximal background, and a negative space thats darker,
with minimal design.
On the player section, there should be a disc that spin when a track is
playing. All negative space should change color upon this as well.

As for functions. To qualify as an album player, I want it to have:
- Function to play sound media called by it & Playlist.
- Next track and Prev track functions.
- Audio level adjustment.
- Responsive progress bar that user can seek to any points on track.
=======================================================================
TYPOGRAPHY
Both Rocky 3D and Palette Mosaic are very experimental display fonts.
Big, blocky and attention demanding, so it can pop over the chaotic
colors of the BG. 
Special Elite is the common typing font. Easier to read, but have a 
physical presence (ink stamp), similar to both display fonts. 
This give a scrap book like appearance.

The footer has a barcode font is to fit with the Album cover theme.
=======================================================================
COLOR PALLETE
Despite having a messy, colorful background, all other elements have
minimal color pallette to keep a grounded design indentity.
Mainly paper beige 60%, with dark red middle body 20%, black/dark colors
for the negative space 20%

The background negative (dark colors) should change responsive to which
track is playing, centrallized on 1 var CSS, which is controlled by JS.
=====================================================================*/

:root {
  --primary-white-color: #e6e3cc;
  --BG-right-color: #000000;
  --red-body-color: #540800;
  --red-controls-color: #8c0401;
  --grey-disc-color: #7b7b7b;
}

img {
  /*quick change size of all icons*/
  max-height: 40px;
}

body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;

  background-color: var(--primary-white-color);
  /*if browswer doesnt support gradient*/
  background-image: linear-gradient(
    to right,
    var(--primary-white-color) 60%,
    var(--BG-right-color) 40%
  );
  /*Create split background colors using linear gradient*/
}

/*Typography overall styling*/
.album {
  font-family: "Rock 3D", system-ui;
  font-weight: 400;
  font-style: normal;
}

.band,
h3 {
  font-family: "Palette Mosaic", system-ui;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

/*==========================================================================
/*Navigation styling*/
nav {
  /*Set the nav bar in a fixed position, at the top of screen, full width*/
  overflow: hidden;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;

  padding: 5px;
  background-color: var(--BG-right-color); /*set gradient here too*/
}

/*=========================================================================
/*Main Content Section*/
.container {
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

/*==========================================================================
/*Header styling*/
header {
  height: 860px;
  display: flex;
}

.head-left {
  width: 60%;
  background-image: url(BG\ head\ R.png);
  background-size: cover;
  background-color: var(--primary-white-color);
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head-right {
  width: 40%;
  background-color: var(--BG-right-color);
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.head-left .album {
  font-size: 7rem;
  color: var(--BG-right-color);
}

.head-right .band {
  color: var(--primary-white-color);
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 5rem;
  padding-top: 90px;
}

.head-right .band i {
  font-size: 6rem;
  padding: 70px;
}

#subtitle {
  font-size: 3rem;
  color: var(--BG-right-color);
  padding-bottom: 20px;
}

#click-me {
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 0.1rem;
}

/*=====================================================================
/*Main player styling*/
.player {
  min-height: 860px;
  display: flex;
  position: relative;
  /*set position relative so child (disc) can be set absolute in relation*/
}

.player-left {
  width: 60%;
  background-image: url(BG\ player\ R.png);
  background-size: cover;
  background-color: var(--primary-white-color);
  padding-right: 10px;
  z-index: 3; /*layer on top*/
}

.player-right {
  width: 40%;
  background-color: var(--BG-right-color);
  justify-items: right;
  z-index: 1; /*layer on bottom, above body BG*/
}

.disc {
  position: absolute;
  /*the position do not interact with other flex content or container*/
  /*So it can sit in the middle of 2 div without interference*/
  width: 600px;
  height: 600px;
  background-image: url(disc.png);
  margin-top: 130px;
  margin-left: 36%;
  z-index: 2; /*layer in the middle*/
}

/*Boxes with track details*/
.media-details {
  margin-top: 130px;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  gap: 20px;
}
.album-band {
  width: 50%;
  background-color: var(--red-body-color);
  color: var(--primary-white-color);
  padding: 10px;
  outline: 6px double var(--red-body-color);
  opacity: 95%;
}
.album-band .album {
  font-size: 4rem;
}
.album-band .band {
  padding-top: 40px;
  font-size: 3rem;
}

.track-number {
  width: 35%;
  background-color: var(--BG-right-color);
  color: var(--primary-white-color);
  padding: 10px;
}
#track-name {
  padding-top: 10px;
  font-size: 1.6rem;
}

/*==========================================================================
/*Playlist styling*/
.playlist {
  max-height: 860px;
  display: flex;
}

.playlist-left {
  width: 60%;
  background-color: var(--primary-white-color);
  padding-right: 10px;
  align-content: center;
}

.playlist-right {
  width: 40%;
  background-image: url(BG\ tear\ L.png);
  background-size: cover;
  background-color: var(--BG-right-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.playlist-left div {
  background-color: var(--grey-disc-color);
  padding: 10px;
  width: 90%;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 90%;

  transition: scale 0.2s;
}
.playlist-left div img {
  opacity: 0%;
}
.playlist-left div:hover img {
  /*On parent (div) hover, affect the state of the child*/
  /*This let the icon appear without hovering exactly over it*/
  opacity: 100%;
}
.playlist-left div:active {
  scale: 90%;
}

.playlist-right h3 {
  color: var(--primary-white-color);
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 5rem;
  padding-bottom: 20px;
}
.playlist-right h3 i {
  padding-top: 80px;
}

#play-all {
  display: flex;
  align-items: center;
}
.playlist img {
  height: 30px;
  margin-left: 5px;
}

/*===========================================================
/*Footer styling*/
footer {
  background-color: var(--primary-white-color);
  background-image: url(BG\ player\ R.png);
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 100px;
  padding-top: 5px;
}

footer p {
  max-width: 1000px;
  justify-items: left;
  color: var(--BG-right-color);
}
#name-id {
  font-family: "Libre Barcode 39 Text", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}

/*------------------------------------------------------------------
/*Custom controls styling*/

button {
  all: unset; /*remove default css styling*/
  transition: scale 0.1s; /*smooth animation*/
}
button:hover {
  cursor: pointer;
}
button:active {
  scale: 93%;
}

#play-all,
#click-me {
  background-color: var(--red-body-color);
  padding: 6px;
  border-radius: 8px;
  color: var(--primary-white-color);
}
#play-all:hover,
#click-me:hover {
  background-color: var(--red-controls-color);
}

.controls {
  padding-top: 120px;
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}
.inline-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-grp {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
}
#playpause-btn,
#prevtrack-btn,
#nexttrack-btn {
  opacity: 60%;
}

.progress-slider,
.volume-slider {
  /*set the sliders to vertical*/
  writing-mode: vertical-lr;
  direction: ltr;
  width: 10px;
  background: var(--red-controls-color);
  accent-color: var(--red-controls-color);
  cursor: pointer;
}
.progress-bar,
.volume-bar {
  justify-items: center;
  color: var(--primary-white-color);
  opacity: 60%;
}
.progress-slider {
  height: 580px;
}

.progress-bar:hover,
.volume-bar:hover,
#playpause-btn:hover,
#prevtrack-btn:hover,
#nexttrack-btn:hover {
  opacity: 100%;
}
